@font-face {
    font-family: Ubuntu-Medium;
    src: url("../fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url("../fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: Ubuntu-Light;
    src: url("../fonts/Ubuntu-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
    color: #000;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.container {
    padding: 0 455px 0 215px;
}

html {
    height: 100%;
    min-height: 100%;
    position: relative;
}

body {
    font: 14px Ubuntu-Regular;
    min-height: 100%;
    height: 100%;
    position: relative;
}

.header__auth {
    justify-content: space-between;
}

.header__auth,
.select__item,
.login__list {
    height: 50px;
    font: 14px Ubuntu-Medium;
    color: #FFF;
    background: #3B3B3B;
}

.select__item {
    width: 100px;
    margin-right: -4px;
    border: 0.1px solid #AAA;
}

.login__list {
    padding: 17px 29.13px 17px 35px;
    text-transform: uppercase;
    border: 1px solid #AAA;
}

.login__li {
    float: left;
    text-align: center;
    margin-right: 10px;
}

.login__li:last-child {
    margin-right: 0;
}

.login__li a:hover {
    color: #1b6d85;
}

.login__list a {
    color: #FFF;
}

.login__li span {
    color: #AAA;
}

.header__nav {
    justify-content: space-between;
    padding-top: 36px;
}

.nav__list {
    justify-content: flex-end;
    font-size: 14px;
    text-transform: uppercase;
}

.nav__list li {
    display: inline-block;
    line-height: 28px;
    padding-right: 55px;
}

.nav__list a:hover {;
    color: #4AB6B6;
}

.nav__list a.active {
    font-family: Ubuntu-Bold;
    color: #4AB6B6;
}

.nav__list li:first-child {
    padding-right: 60.1px;
}

.nav__list li:nth-child(2) {
    padding-right: 60.33px;
}

.nav__list li:nth-child(3) {
    padding-right: 60.39px;
}

.nav__list li:nth-child(4) {
    padding-right: 60.46px;
}

.nav__list li:nth-last-child(3) {
    padding-right: 53.2px;
}

.nav__list li:nth-last-child(2) {
    padding-right: 20px;
}

.nav__list li:last-child {
    padding-right: 0;
}

.navigation__rooms {
    padding-top: 30.57px;
    font: 14px Ubuntu-Regular;
    text-transform: uppercase;
}

.rooms__item {
    height: 100px;
    align-items: center;
    justify-content: space-between;
}

.rooms__item li.active {
    background: linear-gradient(91deg, #4AB6B6, #45CCCC);
    border: none;
}

.rooms__item li:hover {
    background: linear-gradient(91deg, #4AB6B6, #45CCCC);
}

.room__li {
    display: flex;
    width: 199px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 1px solid #EBEBEB;
}

.room__li a {
    display: flex;
}

.room__li span {
    display: flex;
    align-items: center;
}

.room__li a.active {
    font-family: Ubuntu-Medium;
    color: #fff;
}

.room__li img {
    padding-right: 10.22px;
}

.header__seeAll {
    height: 651px;
    width: 1600px;
    justify-content: center;
    background: url('../images/header__background.png') no-repeat;
    background-position-y: 100%;
}

.title__seeAll {
    padding: 0 0 19px 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title__seeAll h1 {
    padding-bottom: 30.03px;
    font: 36px Ubuntu-Light;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #FFF;
}

.btn__seeAll {
    width: 250px;
    height: 50px;
    padding-top: 1px;
    font: 16px Ubuntu-Bold;
    text-transform: uppercase;
    color: #FFF;
    border: none;
    background: linear-gradient(90deg, #4AB6B6, #45CCCC);
}

