@font-face {
    font-family: Ubuntu-Medium;
    src: url("../fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: Ubuntu-Regular;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: Ubuntu-Bold;
    src: url("../fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: Ubuntu-Light;
    src: url("../fonts/Ubuntu-Light.ttf");
}

@font-face {
    font-family: Lato-Regular;
    src: url("../fonts/Lato-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover {
    color: #000;
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 215px;
}

html {
    height: 100%;
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}

body {
    position: relative;
    height: 100%;
    font-family: 'Ubuntu-Regular', sans-serif;
    overflow-x: hidden;
    color: #3B3B3B;
}

.header__auth {
    position: relative;
    justify-content: space-between;
}

.header__auth,
.select__item,
.login__list {
    height: 50px;
    font-family: 'Ubuntu-Medium', sans-serif;
    font-size: 14px;
    color: #FFF;
    background: #3B3B3B;
}

.select__item {
    width: 100px;
    margin-right: -4px;
    border: 0.1px solid #AAA;
}

.header__select select {
    text-align-last: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.login__list {
    position: relative;
    padding: 17px 29.13px 17px 29.99px;
    text-transform: uppercase;
    border: 1px solid #AAA;
}

.login__li {
    float: left;
    text-align: center;
    margin-right: 10px;
}

.login__li:first-child {
    padding-right: 2px;
}

.login__li:last-child {
    margin-right: 0;
}

.login__li a:hover {
    color: #1b6d85;
}

.login__list a {
    color: #FFF;
}

.login__li span {
    color: #AAA;
}

.header__nav {
    justify-content: space-between;
    padding-top: 36px;
}

.nav__list {
    position: relative;
    justify-content: flex-end;
    font-size: 14px;
    text-transform: uppercase;
}

.nav__list li {
    display: inline-block;
    line-height: 28px;
    margin-top: -2px;
}

.nav__list img {
    padding-top: 5px;
}

.nav__list a:hover {;
    color: #4AB6B6;
}

.nav__list a.active {
    font-family: 'Ubuntu-Bold', sans-serif;
    color: #4AB6B6;
}

.nav__list li:first-child {
    margin-right: 60.25px;
}

.nav__list li:nth-child(2) {
    margin-right: 61.33px;
}

.nav__list li:nth-child(3) {
    margin-right: 61.39px;
}

.nav__list li:nth-child(4) {
    margin-right: 62.3px;
}

.nav__list li:nth-last-child(3) {
    margin-right: 53.2px;
}

.nav__list li:nth-last-child(2) {
    margin-right: 20px;
    margin-top: 0;
}

.nav__list li:last-child {
    margin-right: 0;
    margin-top: 0;
}

.navigation__rooms {
    padding-top: 30.57px;
    position: relative;
    font: 14px 'Ubuntu-Regular';
    text-transform: uppercase;
}

.rooms__item {
    height: 100px;
    align-items: center;
    justify-content: center;
}

.rooms__item li.active {
    background: linear-gradient(91deg, #4AB6B6, #45CCCC);
    border: none;
}

.rooms__item li:hover {
    background: linear-gradient(91deg, #4AB6B6, #45CCCC);
}

.room__li {
    position: relative;
    display: flex;
    width: 197px;
    height: 100px;
    margin-left: -2px;
    margin-top: 4px;
    justify-content: center;
    align-items: center;
    border: 1px solid #EBEBEB;
}

.room__li a {
    display: flex;
}

.room__li span {
    display: flex;
    align-items: center;
}

.room__li a.active {
    font-family: 'Ubuntu-Medium', sans-serif;
    color: #fff;
    border: none;
}

.room__li img {
    padding-right: 10.22px;
}

.room__li:nth-child(2){
    border-left: none;
}

.header__seeAll {
    max-width: 1600px;
    width: 100%;
    height: 651px;
    position: relative;
    justify-content: center;
    background: url('../images/header__background.png') no-repeat;
    background-position-y: 100%;
}

.title__seeAll {
    padding: 0 0 19px 3px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title__seeAll h1 {
    padding-bottom: 30.03px;
    font: 36px 'Ubuntu-Light';
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #FFF;
}

.btn__seeAll {
    background: linear-gradient(90deg, #4AB6B6, #45CCCC);
}

.btn__saw {
    position: relative;
    width: 250px;
    height: 50px;
    padding-right: 4px;
    padding-bottom: 4px;
    font: 16px 'Ubuntu-Bold';
    text-transform: uppercase;
    color: #FFF;
    border: none;
}

.btn__seeAll:hover {
    background: linear-gradient(90deg, #2d85bf, #3aafbf);
}

.caption {
    position: relative;
    padding-top: 40.35px;
    font: 36px 'Ubuntu-Bold';
    text-align: center;
    text-transform: uppercase;
    color: #3A3A3A;
}

.caption span {
    color: #3aafbf;
}

.main__menu__products {
    position: relative;
    padding-top: 37px;
    font: 14px 'Ubuntu-Regular';
    color: #3B3B3B;
    justify-content: center;
}

.our__product .caption{
    margin-left: 6px;
}

.category__products li {
    margin-top: -4px;
}

.item__category span {
    display: flex;
    padding-top: 10px;
}

.item__category img{
    display: flex;
    margin: 0 auto;
}

.category__products {
    align-items: center;
    justify-content: center;
}

.category__products a.active {
    font-family: 'Ubuntu-Bold', sans-serif;
    color: #4AB6B6;
}

.category__products a:hover {
    color: #4AB6B6
}

.category__products a.hover {
    color: #4AB6B6;
}

.category__products li{
    position: relative;
}

.category__products li:first-child {
    position: relative;
    margin-right: 68.64px;
}

.category__products li:nth-child(2) {
    margin-right: 69.36px;
}

.category__products li:nth-child(3) {
    margin-right: 70px;
}

.category__products li:nth-child(4) {
    margin-right: 69px;
}

.category__products li:nth-child(5) {
    margin-right: 67px;
}

.category__products li:nth-child(6) {
    margin-right: 70px;
}

.list__ourProduct {
    position: relative;
    max-width: 1170px;
    flex-wrap: wrap;
    margin: 30px 0;
}

.item__ourProduct:nth-child(3n) {
    margin-right: 0;
}

.item__ourProduct:nth-child(n+7) {
    margin-bottom: 0;
}

.arrival__box p,
.item__ourProduct p {
    font: 18px 'Ubuntu-Regular';
    color: #3A3A3A;
}

.item__ourProduct {
    width: 370px;
    height: 480px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #F6F6F6;
}

.item__ourProduct:hover {
    box-shadow: 7px 15px 20px rgba(0, 0, 0, 0.1);
}

.item__ourProduct p {
    padding: 8.28px 0 13.84px 20px;
}

.arrival__box span,
.item__ourProduct span {
    font: 30px 'Ubuntu-Bold';
}

.item__ourProduct span {
    padding: 0 0 19.88px 19.64px;
}

.item__ourProduct .big {
    padding: 20px 20px 14px;
}

.icon {
    position: relative;
    height: 14px;
    padding-left: 20px;
}

.icon img {
    margin-right: 3px;
    padding-bottom: 4px;
}

.icon img:last-child {
    margin-right: 0;
}

.item__ourProduct button {
    width: 110px;
    height: 40px;
    position: absolute;
    top: 418px;
    left: 240px;
    font: 14px 'Ubuntu-Bold';
    color: #FFFFFF;
    background: #3B3B3B;
    border: none;
}

.item__ourProduct button:hover {
    background: linear-gradient(90deg, #4AB6B6, #45CCCC);
}

.button__saw {
    position: relative;
    margin-top: 30px;
    justify-content: center;
}

.btn__seeMore {
    background: #3B3B3B;
    margin-left: 4px;
}

.btn__seeMore:hover {
    background: linear-gradient(90deg, #4AB6B6, #45CCCC);
}

.list__arrivals > div {
    position: relative;
    display: grid;
    max-width: 1170px;
    padding-top: 28.65px;
    grid-template-columns: 270px 270px 570px;
    grid-template-rows: 270px 270px 270px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background: url("../images/chair.png") no-repeat;
}

.box2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background: url("../images/bath_set.png") no-repeat;
}

.box3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background: url("../images/metal_lamp.png") no-repeat;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background: url("../images/clock.png") no-repeat;
}

.box5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background: url("../images/kettle.png") no-repeat;
}

.box6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background: url("../images/bed_linen.png") no-repeat;
}

.arrival__box span {
    padding: 0 0 0 20px;
}

.arrival__box p {
    padding: 20.28px 0 5.84px 20px;
}

.new__arrivals .caption {
    position: relative;
    margin-top: 4px;
}

.button__saw .list__arrivals {
    margin-bottom: 4px;
    margin-right: 2px;
}

.videos__project {
    position: relative;
    margin-top: 28.65px;
    padding: 20px;
    background: #F0F0F0;
}

.video__1 {
    height: 170px;
    width: 330px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    background: url("../images/video1.png");
}

.video__2 {
    height: 170px;
    width: 330px;
    align-items: center;
    justify-content: center;
    background: url("../images/video2.png");
}

.video__review {
    flex-direction: column;
}

.video__review img {
    width: 70px;
    height: 70px;
}

.videos__project .plyr__video-wrapper {
    width: 780px;!important;
    height: 360px;!important;
    margin-right: 20px;!important;

}

.videos__project .plyr__controls .plyr--video {
    width: 720px;!important;
    padding: 5px 0 17px 0;!important;
}
.videos__project .plyr__control .plyr__control--overlaid svg{

}

.videos__project .plyr__control--overlaid {
    width: 90px;!important;
    height: 90px;!important;
    background: transparent;!important;
    border: 2px solid #FFFFFF;!important;
}

.videos__project .plyr__captions{
    padding: 20px 10px; !important;
}

.videos__project .plyr__volume,
.videos__project .plyr__menu,
.videos__project .plyr__menu__container,
.videos__project button.plyr__controls {
    display: none; !important;
}

.main__our__project .caption {
    position: relative;
    margin-top: 6px;
}

.main__our__project h2 {
    margin-top: 30.42px;
    font: 16px 'Ubuntu-Bold';
    text-transform: uppercase;
}

.project__status,
.blog__activity{
    font-family: 'Lato-Regular',sans-serif;
    font-size: 14px;
    color: #8B8B8B;
}

.project__status{
    margin-top: 12.58px;
}

.project__status div:first-child {
    margin-right: 32px;
}

.project__status div:nth-child(2) {
    margin-right: 28px;
}

.project__status div:last-child {
    margin-right: 0;
}

.likes img {
    margin-right:6px;
}

.comment img {
    margin-right: 8px;
}

.block__comments {
    position: relative;
    width: 800px;
    height: 40px;
    margin: 30px 0 30px 0;
    padding: 13px 20px 20px;
    font: 11px 'Ubuntu-Medium';
    background: #F0F0F0;
}

.block__comments img {
    position: absolute;
    width: 10px;
    height: 5px;
    top: 18px;
    right: 20px;
}

.author__list{
    position: relative;
    max-width: 1170px;
    flex-direction: column;
    margin-top: 28px;
    color: #020202;
}

.author__comment {
    position: relative;
    display: flex;
    margin-bottom: 38.55px;
}

.author__comment:last-child{
    margin-top: -1.6px;
}

.author__comment img {
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

.author__comment h3 {
    font: 14px 'Ubuntu-Bold';
    margin-bottom: 8px;
    color: #3B3B3B;
}

.author__comment span {
    font: 14px 'Ubuntu-Light';
    margin-left: 15px;
    color: #8B8B8B
}

.author__comment p {
    font-size: 14px;
    margin-bottom: 1px;
    letter-spacing: 0;
}

.author__comment a {
    font: 14px 'Ubuntu-Bold';
    color: #4AB6B6;
}

.author__comment{
    position: relative;
    line-height: 1.5;
}

.textarea__project > textarea {
    position: relative;
    width: 800px;
    height: 95px;
    padding: 20px 20px 19px;
    font: 14px 'Ubuntu-Light';
    color: #8D8C8D;
    resize: none;
    background: rgb(141, 140, 141, 0.2);
    outline: none;
    -moz-appearance: none;
    border: 1px solid #FFF;
}

.pagination {
    position: relative;
    margin-top: 27.45px;
}

.pagination ul li{
    position: center;
    float: left;
    margin-right: 17px;
}

.pagination ul li:nth-child(5){
    margin-right: 19px;
}

.pagination ul li:last-child{
    margin-right: 0;
}

.pagination ul a {
    font: 14px 'Ubuntu-Regular';
    color: #3B3B3B;
}

.pagination ul li.active a {
    font-weight: bold;
    color: #3B3B3B;
}

.pagination ul a:hover {
    color: #4AB6B6;
}

.main__our__blog .caption p{
    margin-top: 6px;
}

.blogs__item {
    position: relative;
    width: 370px;
    height: 500px;
    margin: 30.58px 30px 0 0;
    padding: 20px 20px 24px;
    background: #F6F6F6;
}

.blogs__item:last-child {
    margin-right: 0;
}

.blogs__item h2 {
    padding: 16px 0 14px 0;
    font: 18px 'Ubuntu-Bold';
    color: #3B3B3B;
}

.blog__activity{
    margin-left: -2px;
}

.blog__activity .likes {
    margin-right: 20.5px;
}

.btn__read {
    position: relative;
    width: 150px;
    height: 40px;
    margin-top: 14px;
    padding: 12px 33px;
    font: 14px 'Ubuntu-Bold';
    text-transform: uppercase;
    color: #FFF;
    background: #3B3B3B;
    border: none;
}

.btn__read:hover {
    background: #4AB6B6;
}

.footer__about__block {
    position: relative;
    margin-top: 40.65px;
}

.footer__about__us .caption{
    position: relative;
    padding-top: 65.35px;
}

.footer__map {
    position: relative;
    width: 985px;
    height: 300px;
}

.footer__map a{
    position: absolute;
    display: flex;
    font: 18px 'Ubuntu-Bold';
    top: 50px;
    left: 514px;
}

.footer__map a > img{
    width: 18.75px;
    height: 25px;
    margin-right: 10.25px;
}

.footer__contacts {
    padding: 63px 0 62.74px 67px;
    font: 15px 'Ubuntu-Medium';
    color: #3B3B3B
}

.logo__mini {
    width: 200px;
    height: 30px;
    margin-bottom: 38px;
}

.contact__data li {
    margin-bottom: 28px;
    white-space: nowrap;
}

.contact__data li:nth-child(2){
    margin-bottom: 25px;
}

.contact__data li:last-child {
    margin-left: -3px;
    margin-bottom: 0;
}

.contact__data img {
    margin-right: 11.75px;
}

.footer__social {
    position: relative;
    min-width: 1200px;
    height: 98px;
    justify-content: flex-end;
    align-items: center;
    background: #3B3B3B;
}

.social__list li {
    margin-right: 10px;
}

.social__list li:last-child {
    margin-right: 0;
}

.social__list img {
    width: 35px;
    height: 35px;
}

/*
.rate{
    width: 76px;
    height: 15px;
    margin: 10px 0 15px;
    background: url("img/bl_star.png") repeat-x;
}

.rate > div{
    height: 100%;
    background: url("img/r-star.png") repeat-x;
}*/